body{
    background-color: black;
    color: antiquewhite;
    font-size: 21px;
}
h1{
    color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: goldenrod;
}
h3{
    color: goldenrod;
}
.page-1{
    background-color: goldenrod;
    width: 620px;
    color: black;
}
.page-2{
    background-color: chocolate;
    color: black;
    width: 300px;

}
span{
    color: cadetblue;
}
.firstlist{
    color: coral;
   
}
.box{
    background-color: darkolivegreen;
    background-image: url(../img/background.jpg);
    color: antiquewhite;
    width: 350px;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 50px;
    padding: 50px;
    border: 5px solid white;
    background-position: center;
    background-size: cover;
}